<%- include("./partials/head.ejs", {title: "Not found"})%>

<div>
    <p>Il se pourrait que cette page n'existe pas</p>
</div>


<script src="js/index.js"></script>
<%- include("./partials/foot.ejs")%>