<%- include("./partials/head.ejs", {title: "home"})%>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<section class="flex  items-center w-full md:left-10">

    <div class="bg-[url('./Assets/JIHero.png')] bg-cover bg-center h-50% md:lg:h-screen w-full flex flex-col items-center  justify-center gap-5 sm:text-center md:text-start" id="accueil">
        <header id="nav__list" class=" h-15 z-20 fixed bg-blue-500 bg-transparent md:lg:sm:bg-[#000244] flex justify-between items-center w-full  md:lg:h-20 px-8 md:lg:px-16  top-0">
            <img src="./Assets/logo.png" alt="" class=" w-16 h-16">

            <div class="relative">
                <button id="menu-toggle" class="md:hidden p-2">
                    <!-- Icône hamburger -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="2 rem" height="2rem" viewBox="0 0 24 24"><path fill="white" d="M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z" class="h-6 w-6  " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>
                
                <nav id="menu" class="hidden md:w-100% rounded-sm  md:z-10  absolute min-[769px]:relative  md:flex flex-row  md:flex-row ml-[-2rem] bg-blue-800 md:bg-transparent">
                    <a href="#accueil" class="text-white p-4">Accueil</a>
                    <a href="#a-propos" class="text-white p-4">À propos</a>
                    <a href="tel:+243842080277" class="text-white p-4">Contact</a>
                    <a href="#universite" class="text-white p-4">Universite</a>
                    <a href="#historique" class="text-white p-4">Historique</a>
                </nav> 
            </div>

            
            
            <!-- <img class="absolute invisible" id="nav__hamburger" idsrc="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IndoaXRlIiBkPSJNMyAxOHYtMmgxOHYyem0wLTV2LTJoMTh2MnptMC01VjZoMTh2MnoiLz48L3N2Zz4=" alt=""> -->
        </header>
        <div class=" flex flex-col justify-center items-center    ">
        

            <div id="hero" class=" w-full flex flex-col justify-center, items-center mt-24   gap-9 mb-12 md:right-32 lg:right-32 lg:left-7">
                <p id="about__title" class="text-white w-full  font-bold text-5xl md:text-7xl lg:text-8xl mt-3">Journées<br> Informatiques</p>
                <p id="about__text" class="text-yellow-600   w-full font-bold text-0,5xl md:text-2xl md:w-[30rem] lg:w-[40rem] lg:text-3xl">INNOVATION TECHNOLOGIQUE ET DEVELOPPEMENT DURABLE POUR UNE SOCIETE CONNECTE</p>
            </div>
            
            
            <div class=" w-full flex justify-start, items-start lg:mt-24 md:mt-24 mt-12   lg:pl-30 md:pl-30 ">
                <a href="#a-propos" class="hidden w-2/5 lg:w-3/5 md:w-3/5 md:border-2 lg:border-2 rounded-xl   hover:bg-purple-400 h-10 md:text-white lg:text-white lg:rounded-xl md:rounded-xl items-center justify-center md:lg:flex text-red-700">Voir plus</a>
                
            </div>

        </div>
        
      
        
    </div>   
</section>
<section id="a-propos" class=" flex justify-center  items-center  w-full  px-6 pt-6 pb-6 md:lg:px-32">
    <div class="w-full flex flex-col  items-center justify-center">
        <h2 class= " w-full text-[#393c92]  font-['Arial'] text-[2rem] mb-[30px] font-bold  lg:text-xl pb-2  flex justify-start md:lg:justify-center  items-start">Les Journées Informatiques qu'est-ce?</h2>
        <P class="p-2  text-black shadow-gray-700 shadow text-[16px] rounded-lg   border-black w-2/3">
            Les Journées Informatiques (J.I.) sont l'ensemble d'événements visant à rassembler les étudiants de divers domaines pour créer des solutions technologiques aux défis de la communauté, tout en favorisant l'innovation, l'employabilité des jeunes et en connectant les talents avec les entreprises.
        </P>
    </div>
</section>
<section class="md:lg:pt-4 flex flex-col justify-center  items-start  w-full pb-10 px-6  bg-gradient-to-r from-sky-50 md:lg:px-32 ">
    <h2 class=" w-full text-yellow-600 text-[16px] font-bold  lg:text-xl pb-2  flex justify-start items-start">Objectifs</h2>
    <div  class=" flex flex-col  lg:md:flex-row justify-center  items-center  w-full relative rounded-lg h-fit  bg-gradient-to-r from-sky-100 gap-4 ">
        <div class="w-full h-fit md:lg:w-30% flex flex-col  items-center justify-center shadow-black shadow-lg rounded-lg">
            <img src="./Assets/promo.png" alt="" class="rounded-t-[0.5rem]  w-full">

            <div class=" ">
                <p class="text-yellow-600  font-bold px-3 text-[16px]">
                    Promouvoir les innovations numériques  
                </p>
                <p class=" px-3 py-1 text-[16px]   mb-1"> 
                    L'objectif de La 17 éme édition est de promouvoir les innovations numériques des etudiants de divers Universités en RDC.
                </p>
            </div>
            
        </div>
        
        <div class="md:lg:w-30% h-fit flex flex-col w-full items-center justify-center shadow-black shadow-lg rounded-lg">
            <img src="./Assets/nume.png" alt="" class="rounded-t-[0.5rem]  w-full ">
            <div class="">
                <p class="text-yellow-600  font-bold px-3 text-[16px]">
                    Vulgariser l'utilisation des outils numériques                
                </p>
                <p class=" px-3 py-1 text-[16px]    "> 
                    les Journées Informatiquesvisent également à vulgariser l'utilisation des outils numériques dans tous les secteurs de la vie de l'Etat.
                </p>
            </div>
            
            
           
        </div>
    </div>
    
</section>

<section class="hidden md:lg:flex flex-col justify-center items-start gap-6 pb-6 bg-gradient-to-r from-red-10 md:lg:px-32 pt-6">
    <h2 class="md:lg:pt-2 w-full text-red-600 text-[16px] font-bold  lg:text-xl pt-6 pb-2 flex justify-start items-start">Objectifs secondaires</h2>

    <div class="flex w-full  justify-center items-center gap-20  text-[10px]  ">
        <section class="w-auto md:lg:w-1/4 border-4 z-10 rounded-md h-fit shadow-md shadow-black-600 flex flex-col items-center justify-center border-none">
            <p class="w-[80%] pt-1 text-blue-800 font-bold text-[16px]">Collaboration interdisciplinaire</p>
            <p class="w-[80%] h-full  pt-2 text-[8px] md:lg:sm:text-[16px] mb-6">Favoriser la collaboration entre les étudiants des facultés techniques et ceux d'autres facultés, encourageant ainsi une approche interdisciplinaire de l'innovation numérique.</p>
        </section>
        <section class="w-auto md:lg:w-1/4 border-4  rounded-md  shadow-md z-10 shadow-black-700 flex h-fit  flex-col items-center justify-center border-none">
            <p class="w-[80%] pt-1 text-yellow-600 font-bold text-[16px]">Identification des talents</p>
            <p class="w-[80%] h-full pt-2 text-[8px] md:lg:sm:text-[16px] mb-[6.5rem]">Identifier les étudiants porteurs de projets innovants ayant un impact socioéconomique important.</p>
        </section>

        <section class="w-auto md:lg:w-1/4 border-4 rounded-md h-fit  z-10 shadow-md shadow-black-600 flex flex-col items-center justify-center border-none">
            <p class="w-[80%] pt-1 text-red-800 font-bold text-[16px]">Insertion professionnelle</p>
            <p class="w-[80%] h-full  pt-2 text-[8px] md:lg:sm:text-[16px] mb-12">Faciliter l'insertion professionnelle des étudiants en mettant en relation les talents émergents avec les entreprises évoluant dans la Tech ou recherchant des profils Tech.</p>
        </section>
    </div>
    <div class="flex w-full  justify-center items-center gap-20  text-[10px]  ">
        <section class="w-1/3 md:lg:w-1/4 border-4 border-none z-10  shadow-black-700  rounded-md  h-fit shadow-md flex flex-col items-center justify-center">
            <p class="w-[80%] pt-1 text-red-700 font-bold text-[16px]">Découverte des projets</p>
            <p class="w-[80%] h-full pt-2 text-[16px] mb-[2.5rem]">Encourager la découverte et la mise en valeur des projets des étudiants, offrant aux entreprises l'opportunité de repérer des initiatives prometteuses pour d'éventuels partenariats.</p>
        </section>
        <section class="w-1/3 md:lg:w-1/4 border-4 border-none shadow-yblack-700 z-10 rounded-md h-fit  shadow-md flex flex-col items-center justify-center">
            <p class="w-[80%] pt-1  text-yellow-600 font-bold text-[16px]">Préparation au monde professionnel</p>
            <p class="w-[80%] h-full pt-2 text-[16px] mb-[1rem] ">Préparer l'étudiant au monde professionnel en lui offrant des opportunités de développement professionnel, des ateliers de formations et des rencontres avec des professionnels de différents secteurs.</p>
        </section>
        <section class="w-1/3 md:lg:w-1/4 border-4 border-none  shadow-black-700 z-10 rounded-md h-fit  shadow-lg flex flex-col items-center justify-center ">
            <p class="w-[90%] pt-1  text-blue-700 font-bold text-[16px] ">Stimuler l'entrepreneuriat</p>
            <p class="w-[80%] h-full pt-2 text-[16px] mb-7 "> Stimuler l'entrepreneuriat en donnant aux étudiants l'opportunité de développer leurs propres projets d'entreprises dans les domaines de technologies de l'info et de la communication.</p>
        </section>
    </div>

</section>
<section id="a-propos" class=" md:lg:hidden flex w-full flex-col h-fit justify-center items-start gap-3 px-6 pb-6 bg-gradient-to-r from-red-10 ">
    <h2 class="text-red-600 font-bold text-[16px] py-2">Objectifs secondaires</h2>
    <div class=" w-full flex-col flex  justify-center items-center gap-2 text-[16px]">
        <section class="w-full md:lg:w-1/4 border-4 rounded-md h-fit shadow-md shadow-blue-600 flex flex-col items-center justify-center border-none">
            <p class="w-[80%] pt-1 text-blue-800 font-bold text-[16px]">Collaboration interdisciplinaire</p>
            <p class="w-[80%] h-full  pt-2 text-[16px] md:lg:sm:text-xl">Favoriser la collaboration entre les étudiants des facultés techniques et ceux d'autres facultés, encourageant ainsi une approche interdisciplinaire de l'innovation numérique.</p>
        </section>
        <section class="w-full md:lg:w-1/4 border-4  rounded-md  shadow-md shadow-yellow-700 flex h-fit flex-col items-center justify-center border-none">
            <p class="w-[80%] pt-1 text-yellow-600 font-bold text-[16px]">Identification des talents</p>
            <p class="w-[80%] h-full pt-2 text-[16px] md:lg:sm:text-xl">Identifier les étudiants porteurs de projets innovants ayant un impact socioéconomique important.</p>
        </section>
       
    </div>
    <div class="flex  flex-col justify-center items-center gap-2 text-[16px]">
        <section class="w-full md:lg:w-1/4 border-4 border-none  shadow-red-700 rounded-md h-fit  shadow-md flex flex-col items-center justify-center">
            <p class="w-[80%] pt-1  text-red-700 font-bold text-[16px]">Insertion professionnelle</p>
            <p class="w-[80%] h-50 h-full pt-2 text-[16px] md:lg:sm:text-xl" > Faciliter l'insertion professionnelle des étudiants en mettant en relation les talents émergents avec les entreprises évoluant dans la Tech ou recherchant des profils Tech.</p>
        </section>
        <section class="w-full md:lg:w-1/4 border-4 border-none   shadow-blue-700  rounded-md  h-fit shadow-md flex flex-col items-center justify-center">
            <p class="w-[80%] pt-1 text-blue-700 font-bold text-[16px]">Découverte des projets</p>
            <p class="w-[80%] h-full pt-2 text-[16px] md:lg:sm:text-xl">Encourager la découverte et la mise en valeur des projets des étudiants, offrant aux entreprises l'opportunité de repérer des initiatives prometteuses pour d'éventuels partenariats.</p>
        </section>
    </div>
    <div class=" w-full flex  flex-col justify-center items-center gap-2 text-[16px]">
        <section class="w-full md:lg:w-1/4 border-4 border-none shadow-yellow-700  rounded-md h-fit  shadow-md flex flex-col items-center justify-center">
            <p class="w-[80%] pt-1  text-yellow-600 font-bold text-[16px]">Préparation au monde professionnel</p>
            <p class="w-[80%] h-full pt-2 text-[16px] md:lg:sm:text-xl ">Préparer l'étudiant au monde professionnel en lui offrant des opportunités de développement professionnel, des ateliers de formations et des rencontres avec des professionnels de différents secteurs.</p>
        </section>
        <section class="w-full md:lg:w-1/4 border-4 border-none  shadow-red-700  rounded-md h-fit  shadow-md flex flex-col items-center justify-center ">
            <p class="w-[80%] pt-1  text-red-700 font-bold text-[16px] ">Stimuler l'entrepreneuriat</p>
            <p class="w-[80%] h-full pt-2 text-[16px] md:lg:sm:text-xl"> Stimuler l'entrepreneuriat en donnant aux étudiants l'opportunité de développer leurs propres projets d'entreprises dans les domaines de technologies de l'info et de la communication.</p>
        </section>
       
    </div>

</section>


<section class=" hidden lg:md:sm:flex flex-col justify-center items-center lg:md:sm:items-center lg:md:sm:gap-8 gap-5 lg:md:sm:bg-gradient-to-r from-red-5 red-200 px-32">
    <h2 class="md:lg:pt-2 w-full text-blue-700 text-[16px] font-bold  lg:text-xl pt-6 pb-2 flex justify-start items-start">
        Methodologie

    </h2>

      <div class="flex  justify-center items-center gap-10">
        <section class="w-1/5  border-4 rounded-md h-fit shadow-md shadow-blue-700 flex flex-col items-center justify-center border-none">
            <p class="w-[80%] pt-2  text-blue-700 font-bold">1. Ouverture</p>
            <p class="w-[80%] h-full pt-4 text-[16px]">Présentation des objectifs et les grandes lignes des journées informatiques. 
                Celui-ci se tiendra au sein de l’université de kinshasa, plus précisément sous le grand chapiteau, et réunira près de 2500 participant ainsi que plus de 10 universités provenant de différentes provinces de la RDC.
                Cette activité aura pour but de dévoiler la vision globale des journées informatiques ainsi que de présenter des panels sur les avancée technologique. </p>
        </section>
        <section class="w-1/5   border-4  rounded-md h-fit shadow-md shadow-yellow-700 flex flex-col items-center justify-center border-none">
            <p class="w-[80%] pt-2 text-yellow-600 font-bold ">2. Formations </p>
            <p class="w-[80%] h-full pt-4 text-[16px]">Des sessions de formations animées par des experts, destinées à
                approfondir les compétences des participants dans divers domaines de
                l’informatique. Mais aussi dans le but de préparer l’étudiant pour l’élaboration et
                la présentation de leurs projets.</p>
        </section>
        <section class="w-1/5  border-4 border-none  shadow-red-700 rounded-md h-fit shadow-md flex flex-col items-center justify-center">
            <p class="w-[80%] pt-2  text-red-700 font-bold">3. Séances découvertes</p>
            <p class="w-[80%] h-50 h-full pt-4 text-[16px]" > es ateliers interactifs pour découvrir les dernières
                innovations technologiques et les nouvelles tendances du secteur.</p>
        </section>
        <section class=" w-1/5 mt[22rem] border-4 border-none  shadow-blue-700 rounded-md h-fit shadow-md flex flex-col items-center justify-center">
            <p class="w-[80%] pt-2  text-blue-700 font-bold">4. Descentes aux universités</p>
            <p class="w-[80%] h-50 h-full pt-4 text-[16px]" > Est une activité prévue pour sensibiliser les autres
                facultés et universités n’ayant pas des filières technologiques à collaborer avec les
                facultés technologiques pour soumettre leurs besoins en outils ou application
                informatique mais aussi de participer ensemble avec les facultés technologiques à la
                résolution des réels problèmes de la société.</p>
        </section>
      </div>
      <div class="flex  justify-center items-center gap-10">
        <section class="w-1/5 border-4 border-none   shadow-yellow-600 h-fit  rounded-md  shadow-md flex flex-col items-center justify-center">
            <p class="w-[80%] pt-2 text-yellow-600 font-bold">5. Descentes aux entreprises </p>
            <p class="w-[80%] h-full pt-4 text-[16px]">pour offrir aux participants un aperçu concret des applications pratiques de leurs connaissances dans le monde professionnel. Mais aussi élaborer un cahier de charge regroupant les besoins en solutions informatiques. les étudiants travailleront pour proposer des solutions à ces entreprises.</p>
        </section>
        <section class="w-1/5 border-4 border-none shadow-red-700 h-fit  rounded-md  shadow-md flex flex-col items-center justify-center">
            <p class="w-[80%] pt-2  text-red-600 font-bold">6. Exposition & Zando Numerique</p>
            <p class="w-[90%] h-full pt-4 text-[16px]"> Un espace d’exposition où les Entreprises et 
                les Startups pourront présenter leurs produits et services, ainsi qu’un marché numérique
                pour promouvoir les initiatives locales.
                </p>
        </section>
        <section class="w-1/5 border-4 border-none h-fit  shadow-blue-700  rounded-md  shadow-md flex flex-col items-center justify-center ">
            <p class="w-[90%] pt-2  text-blue-700 font-bold">7. Challenge</p>
            <p class="w-[90%] h-full pt-4 text-[16px]"> Un concours stimulant mettant en compétition des équipes sur des
                projets innovants, favorisant la créativité et l’esprit d’équipe.</p>
        </section>
        <section class="w-1/5 mt-[12rem] border-4 border-none  shadow-yellow-600 rounded-md h-fit shadow-md flex flex-col items-center justify-center">
            <p class="w-[80%] pt-2  text-yellow-600 font-bold">8. Grande plénière </p>
            <p class="w-[80%] h-50 h-full pt-4 text-[16px]" > Une session de clôture rassemblant tous les participants pour
                un bilan des activités, des conférences inspirantes et des remises de prix ceci sera
                organisée en deux jours de manière successive.</p>
        </section>
     </div>

</section>


<div class="relative flex items-center justify-center lg:md:hidden p-15 h-fit" >
    <button id="menu-ouverture" type="button" class="inline-flex items-center gap-x-1 text-sm font-semibold leading-6 text-blue-600 p-3 bg-blue-600 rounded-lg " aria-expanded="false">
        <span class="text-white" id="">Methodologie</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 9l6 6l6-6"/></svg>
    </button>
    
    <nav id="deroule" class="hidden w-full z-10  absolute rounded-md  top-14   flex-row items-center justify-center  gap-5  bg-blue-50 md:bg-transparent">
       
        <a href="#" class="text-white p-4 block  border-2 rounded-lg w-3/4 mx-auto bg-blue-500"><h2>1. Ouverture</h2>
            <p class="w-[80%] h-full pt-4 text16px]">Présentation des objectifs et les grandes lignes des journées informatiques. 
                Celui-ci se tiendra au sein de l’université de kinshasa, plus précisément sous le grand chapiteau, et réunira près de 2500 participant ainsi que plus de 10 universités provenant de différentes provinces de la RDC.
                Cette activité aura pour but de dévoiler la vision globale des journées informatiques ainsi que de présenter des panels sur les avancée technologique </p>
        </a>
        <a href="#" class="text-white p-4 block border-2 rounded-lg w-3/4 mx-auto bg-blue-500"> <h2>2. Formation</h2>
            <p class="w-[80%] h-full pt-4 text-[16px]">Des sessions de formations animées par des experts, destinées à
                approfondir les compétences des participants dans divers domaines de
                l’informatique. Mais aussi dans le but de préparer l’étudiant pour l’élaboration et
                la présentation de leurs projets.</p>
        </a>
        <a href="#" class="text-white p-4 block border-2 rounded-lg w-3/4  mx-auto bg-blue-500">3. Séances découvertes
            <p class="w-[80%] h-50 h-full pt-4 text-[16px]" > es ateliers interactifs pour découvrir les dernières
                innovations technologiques et les nouvelles tendances du secteur.</p>
        </a>
        <a href="#" class="text-white p-4 block border-2 rounded-lg w-3/4   mx-auto bg-blue-500">4. Descentes aux universités
            <p class="w-[80%] h-50 h-full pt-4 text-[16px]" > Est une activité prévue pour sensibiliser les autres
                facultés et universités n’ayant pas des filières technologiques à collaborer avec les
                facultés technologiques pour soumettre leurs besoins en outils ou application
                informatique mais aussi de participer ensemble avec les facultés technologiques à la
                résolution des réels problèmes de la société.</p>
        </a>
        <a href="#" class="text-white p-4 block border-2 rounded-lg w-3/4 mx-auto bg-blue-500">5. Descentes aux entreprises
            <p class="w-[80%] h-full pt-4 text-[16px]">pour offrir aux participants un aperçu concret des applications pratiques de leurs connaissances dans le monde professionnel. Mais aussi élaborer un cahier de charge regroupant les besoins en solutions informatiques. les étudiants travailleront pour proposer des solutions à ces entreprises.</p>
        </a>
        <a href="#" class="text-white p-4 block border-2 rounded-lg w-3/4 mx-auto bg-blue-500">6. Exposition & Zando Numerique
            <p class="w-[90%] h-full pt-4 text-[16px]"> Un espace d’exposition où les Entreprises et 
                les Startups pourront présenter leurs produits et services, ainsi qu’un marché numérique
                pour promouvoir les initiatives locales.
                </p>
        </a>
        <a href="#" class="text-white p-4 block border-2 rounded-lg w-3/4 mx-auto bg-blue-500">7. Challenge
            <p class="w-[90%] h-full pt-4 text-[16px]"> Un concours stimulant mettant en compétition des équipes sur des
                projets innovants, favorisant la créativité et l’esprit d’équipe.
            </p>
        </a>
        <a href="#" class="text-white p-4 block border-2 rounded-lg w-3/4 mx-auto bg-blue-500">8. Grande plénière

            <p class="w-[80%] h-50 h-full pt-4 text-[16px]" > Une session de clôture rassemblant tous les participants pour
                un bilan des activités, des conférences inspirantes et des remises de prix ceci sera
                organisée en deux jours de manière successive.</p>
        </a>

        </a>
    </nav> 
</div>


<div id="organizer" class="px-5 w-full pb-10 mb-10">
    <div class="">
        <div id="title" class="flex justify-center">
            <h1 class="text-[#393c92] font-['Arial'] text-[2rem] font-bold mb-[30px]">Equipe organisatrice</h1>
        </div>
        <div id="block-organizer" class="flex flex-col items-center md:flex-row justify-between py-5 gap-6 ">
            <div id="organizer1" class="flex flex-col items-center gap-7 w-[20rem] h-[28rem]  bg-slate-300 shadow-2xl shadow-stone-700  rounded-lg  p-5">
                <div id="ImgPartener1" class=" w-full ">
                    <img src="./assets/Images/Coordon.jpg" class="w-full h-[20rem] border-5 border-none rounded-lg" alt="">  
                </div>
                <div>
                    <b class="text-amber-700 text-[1.3rem] font-['Arial']">Elisée MIKABA</b>
                    <p class="text-[1.3rem] font-['Arial']">Coordonateur</p>
                </div>
                
            </div>
            <div id="organizer1" class="flex flex-col items-center gap-7 w-[20rem] h-[28rem]  bg-slate-300 shadow-2xl shadow-stone-700 rounded-lg  p-5">
                <div id="ImgPartener1" class=" w-full ">
                    <img src="./assets/Images/viceCoordon.jpg" class="w-full h-[20rem] border-5 border-none rounded-lg" alt="">  
                </div>
                <div>
                    <b class="text-amber-700 text-[1.3rem] font-['Arial']">La vérité MUKOKO</b>
                    <p class="text-[1.3rem] font-['Arial']">Vice-coordonatrice</p>
                </div>
                
            </div>
            <div id="organizer1" class="flex flex-col items-center gap-7 w-[20rem] h-[28rem]  bg-slate-300 shadow-2xl shadow-stone-700 rounded-lg  p-5">
                <div id="ImgPartener1" class=" w-full ">
                    <img src="./assets/Images/DirCab.jpg" class="w-full h-[20rem] border-5 border-none rounded-lg" alt="">  
                </div>
                <div>
                    <b class="text-amber-700 text-[1.3rem] font-['Arial']">Sharon VUMUKA</b>
                    <p class="text-[1.3rem] font-['Arial']">Directeur de cabinet</p>
                </div>
                
            </div>
            <div id="organizer1" class="flex flex-col items-center gap-7 w-[20rem] h-[28rem] bg-slate-300 shadow-2xl shadow-stone-700 rounded-lg  p-5">
                <div id="ImgPartener1" class=" w-full ">
                    <img src="./assets/Images/sec.jpg" class="w-full h-[20rem] border-5 border-none rounded-lg" alt="">  
                </div>
                <div>
                    <b class="text-amber-700 text-[1.3rem] font-['Arial']">Dan KABUYA</b>
                    <p class="text-[1.3rem] font-['Arial']">Secrétaire</p>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div id="partener" class="px-5 w-full mb-5 flex flex-col">
    <div id="title" class="flex justify-center">
        <h1 class="text-[#393c92] font-['Arial'] text-[2rem] font-bold mb-5">Ils nous accompagnent</h1>
    </div>
   <div class="flex flex-row justify-between  gap-5 md:gap-5 px-10 flex-wrap md:flex-nowrap">
        <div id="partener1" class="w-[5rem] h-[4rem] md:w-[9rem] md:h-[8rem] md:mt-7">
            <img src="./assets/Logo/unikin.png" alt="">
        </div>
        <div id="partener1" class="w-[5rem] h-[4rem] md:w-[10rem] md:h-[8rem] md:mt-6">
            <img src="./assets/Logo/unilu.png" alt="">
        </div>
        <div id="partener1" class="w-[5rem] h-[4rem] md:w-[7rem] md:h-[7rem] md:mt-7">
            <img src="./assets/Logo/upc.png" alt="">
        </div>
        <div id="partener1" class="w-[6rem] h-[4rem] md:w-[13rem] md:h-[15rem]">
            <img src="./assets/Logo/upn.png" alt="">
        </div>
        <div id="partener1" class="">
            <img src="./assets/Logo/ista.png" class="w-[6rem] h-[4rem] md:w-[13rem] md:h-[6rem] mt-6" alt="">
        </div>
        <div id="partener1" class="">
            <img src="./assets/Logo/isipa.png" alt="" class="w-[5rem] h-[4rem] md:w-[8rem] md:h-[6rem] md:mt-6">
        </div>
        <div id="partener1" class="w-[5rem] h-[4rem] md:w-[8rem] md:h-[5rem] md:mt-6">
            <img src="./assets/Logo/upgi.png" alt="">
        </div>
        <div id="partener1" class="w-[5rem] h-[4rem] md:w-[10rem] md:h-[5rem] md:mt-5">
            <img src="./assets/Logo/isc.png" alt="">
        </div>
        <div id="partener1" class="w-[5rem] h-[4rem] md:w-[13rem] md:h-[10rem] ">
            <img src="./assets/Logo/belcampus.png" alt="">
        </div>
        <div id="partener1" class="w-[5rem] h-[4rem] mt-[3rem] md:w-[10rem] md:h-[5rem] md:mt-[3rem]">
            <img src="./assets/Logo/TV5.png"  alt="">
        </div>
        <div id="partener1" class="w-[8rem] h-[4rem] md:w-[15rem] md:h-[10rem] md:mt-[3rem]">
            <img src="./assets/Logo/bongoLabs.png"  alt="">
        </div>
   </div>
</div>

<footer class="bg-[#000244] pb-[1rem]">
    <div class="flex flex-col items-center  md:flex-row justify-between pr-[5rem]">
        <div id="section-logo" class="hidden md:block">
            <img src="./assets/Logo/logoJInfo.png" alt="">
        </div>
        <div id="section-edition" class="mt-[15px]">
            <p class="text-violet-400 font-['Arial'] text-[2rem] pb-5">Editions</p>
            <div id="block-edition" class="flex gap-3 ">
                <a href="https://www.unikin.ac.cd/index.php/14eme-edition-de-la-grande-pleniere-des-journees-informatiques/" class="text-violet-400 text-[1rem]">16e édition</a>
            </div>
        </div>
        <div id="section-siteweb" class="flex flex-col justify-center md:items-start mt-[15px]">
            <p class="text-center md: text-violet-400 font-['Arial'] text-[2rem] pb-5">Sites Web</p>
            <div id="internet" class="flex gap-3 ">
                <svg class= "text-violet-400" xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M16.36 14c.08-.66.14-1.32.14-2s-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2m-5.15 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56M14.34 14H9.66c-.1-.66-.16-1.32-.16-2s.06-1.35.16-2h4.68c.09.65.16 1.32.16 2s-.07 1.34-.16 2M12 19.96c-.83-1.2-1.5-2.53-1.91-3.96h3.82c-.41 1.43-1.08 2.76-1.91 3.96M8 8H5.08A7.92 7.92 0 0 1 9.4 4.44C8.8 5.55 8.35 6.75 8 8m-2.92 8H8c.35 1.25.8 2.45 1.4 3.56A8 8 0 0 1 5.08 16m-.82-2C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2s.06 1.34.14 2M12 4.03c.83 1.2 1.5 2.54 1.91 3.97h-3.82c.41-1.43 1.08-2.77 1.91-3.97M18.92 8h-2.95a15.7 15.7 0 0 0-1.38-3.56c1.84.63 3.37 1.9 4.33 3.56M12 2C6.47 2 2 6.5 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2"/></svg>
                <a href="https://fmi-unikin-new-site-web.vercel.app/" class="text-violet-400 text-[1rem]">www.journeesinformatiques.com</a>
            </div>
        </div>
        <div id="section-contact" class="mt-[25px] flex flex-col justify-center md:items-start">
            <p class="text-center text-violet-400 font-['Arial'] text-[2rem] pb-5">Contacts</p>
            <div id="block-contact" class="flex flex-col gap-3">
                <div id="phone" class="flex gap-3 ">
                    <svg class= "text-violet-400 " xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="currentColor" d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"/></svg>
                    <a href="tel:+243842080277" class="text-violet-400 text-[1rem]">+2438 4208 0277</a>
                </div>
                <div id="mail" class="flex gap-3 ">
                    <svg class= "text-violet-400"xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="currentColor" d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7l8-5V6l-8 5l-8-5v2z"/></svg>
                    <a href="mailto:journeesinformatiques.ca@gmail.com" class="text-violet-400 text-[1rem]">Journées informatiques</a>
                </div>
                <div id="wa" class="flex gap-3 ">
                    <svg class= "text-violet-400 "xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="currentColor" d="M12.001 2c5.523 0 10 4.477 10 10s-4.477 10-10 10a9.95 9.95 0 0 1-5.03-1.355L2.005 22l1.352-4.968A9.95 9.95 0 0 1 2.001 12c0-5.523 4.477-10 10-10M8.593 7.3l-.2.008a1 1 0 0 0-.372.1a1.3 1.3 0 0 0-.294.228c-.12.113-.188.211-.261.306A2.73 2.73 0 0 0 6.9 9.62c.002.49.13.967.33 1.413c.409.902 1.082 1.857 1.97 2.742c.214.213.424.427.65.626a9.45 9.45 0 0 0 3.84 2.046l.568.087c.185.01.37-.004.556-.013a2 2 0 0 0 .833-.231a5 5 0 0 0 .383-.22q.001.002.125-.09c.135-.1.218-.171.33-.288q.126-.13.21-.302c.078-.163.156-.474.188-.733c.024-.198.017-.306.014-.373c-.004-.107-.093-.218-.19-.265l-.582-.261s-.87-.379-1.402-.621a.5.5 0 0 0-.176-.041a.48.48 0 0 0-.378.127c-.005-.002-.072.055-.795.931a.35.35 0 0 1-.368.13a1.4 1.4 0 0 1-.191-.066c-.124-.052-.167-.072-.252-.108a6 6 0 0 1-1.575-1.003c-.126-.11-.243-.23-.363-.346a6.3 6.3 0 0 1-1.02-1.268l-.059-.095a1 1 0 0 1-.102-.205c-.038-.147.061-.265.061-.265s.243-.266.356-.41c.11-.14.203-.276.263-.373c.118-.19.155-.385.093-.536q-.42-1.026-.868-2.041c-.059-.134-.234-.23-.393-.249q-.081-.01-.162-.016a3 3 0 0 0-.403.004z"/></svg>
                    <a href="https://api.whatsapp.com/send?phone=243842080277" class= "text-violet-400 text-[1rem]">Journées informatiques</a>
                </div>
            </div>
        </div>
        <div id="arrowTop" class="items-end pl-10">
            <svg class ="w-[3rem] h-[3rem] flex items-end cursor-pointer text-violet-400 border-solid border-[8px] rounded-[50%] border-white my-7 md:mt-20"xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 36 36"><path fill="currentColor" d="M18 2a16 16 0 1 0 16 16A16 16 0 0 0 18 2m8 15.57a1.43 1.43 0 0 1-2 0L19.4 13v14.14a1.4 1.4 0 0 1-2.8 0v-14l-4.43 4.43a1.4 1.4 0 0 1-2-2l7.91-7.87L26 15.59a1.4 1.4 0 0 1 0 1.98" class="clr-i-solid clr-i-solid-path-1"/><path fill="none" d="M0 0h36v36H0z"/></svg>
            
        </div>
    </div>
    <div class="md:mt-[5rem] w-full px-[5rem]">
        <p class="flex justify-center text-white text-[1rem] border-t-[1px] border-white text-center pt-5 pr-5">Tous droits reservés</p>
    </div>
</footer>
<script src="js/index.js"></script>
<%- include("./partials/foot.ejs")%>