<%- include("./partials/head.ejs", {title: "home"})%>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">





<section class="flex  items-center w-full">

    <div class="bg-[url('./Assets/JIHero.png')] bg-cover bg-center h-screen w-full flex flex-col items-center  justify-center gap-5 sm:text-center md:text-start" id="accueil">
        <header id="nav__list" class=" z-20 fixed bg-[#000244] flex justify-between items-center w-full h-20 px-16  top-0">
            <img src="./Assets/LogoJI-removebg-preview.png" alt="" class=" w-36 h-32 ">

            <div class="relative">
                <button id="menu-toggle" class="md:hidden p-2">
                    <!-- Icône hamburger -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="2 rem" height="2rem" viewBox="0 0 24 24"><path fill="white" d="M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z" class="h-6 w-6  " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>
                
                <nav id="menu" class="hidden md:w-100%  md:z-10  absolute min-[769px]:relative  md:flex flex-row  md:flex-row  bg-blue-800 md:bg-transparent">
                    <a href="#accueil" class="text-white p-4">Accueil</a>
                    <a href="#a-propos" class="text-white p-4">À propos</a>
                    <a href="tel:+243842080277" class="text-white p-4">Contact</a>
                    <a href="#universite" class="text-white p-4">Universite</a>
                    <a href="#historique" class="text-white p-4">Historique</a>
                </nav> 
            </div>

            
            
            <!-- <img class="absolute invisible" id="nav__hamburger" idsrc="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IndoaXRlIiBkPSJNMyAxOHYtMmgxOHYyem0wLTV2LTJoMTh2MnptMC01VjZoMTh2MnoiLz48L3N2Zz4=" alt=""> -->
        </header>
        <div class=" flex flex-col justify-center items-center  ">
        

            <div id="hero" class=" w-full flex flex-col justify-center, items-center mt-24 pl:8 lg:24 md:24  lg:pl-60 md:pl-60 gap-9 mb-12">
                <p id="about__title" class="text-white w-full  font-bold text-5xl md:text-7xl lg:text-8xl mt-3">Journées<br> Informatiques</p>
                <p id="about__text" class="text-yellow-600   w-full font-bold text-0,5xl md:text-2xl md:w-[30rem] lg:w-[40rem] lg:text-3xl">INNOVATION TECHNOLOGIQUE ET DEVELOPPEMENT DURABLE POUR UNE SOCIETE CONNECTE</p>
            </div>
            
            
            <div class=" w-full flex justify-start, items-start lg:mt-24 md:mt-24 mt-12   lg:pl-60 md:pl-60 ">
                <a href="#a-propos" class=" w-2/5 lg:w-1/5 md:w-1/5 md:border-2 lg:border-2  hover:bg-purple-400 h-10 md:text-white lg:text-white lg:rounded-xl md:rounded-xl items-center justify-center flex text-red-700">Voir plus</a>
                
            </div>

        </div>
        
      
        
    </div>   
</section>
<section id="a-propos" class=" flex flex-row-reverse justify-center  items-center  w-full h-[25rem] relative bg-gradient-to-r from-sky-500  to-indigo-500 ">
    <div class="w-1/3 flex flex-col  items-center justify-center md:flex md:text-start ">
        <h2 class="text-yellow-600 font-bold text-3xl lg:text-2xl">Les Journées Informatiques qu'est-ce?</h2>
        <P class=" font-extralighttext-xl  px-7 min-[749px]:text-start :text-xs text-white">
            Les Journées Informatiques (J.I.) c'est une activité qui rassemblent des étudiants de divers domaines pour créer des solutions technologiques aux défis de la communauté, tout en favorisant l'innovation, l'employabilité des jeunes et en connectant les talents avec les entreprises.
        </P>
    </div>
   <!-- <div class="w-1/2  flex items-center justify-center">
    <img src="./Assets/whatT.png" alt="" class="n-full"> -->

   </div>
</section>
<section class=" flex flex-col justify-center  items-center  w-full   bg-gradient-to-r from-sky-100 ">
    <p class="text-blue-900 font-bold text-3xl py-5">Objectifs</p>
    <div id="about" class=" flex flex-row justify-center  items-center  w-full  relative rounded-lg   bg-gradient-to-r from-sky-100 gap-10 ">
        <div class="w-1/3 flex flex-col  items-center justify-center shadow-black shadow-lg rounded-lg my-8">
            <img src="./Assets/promo.png" alt="" class="rounded-t-[0.5rem]  w-full">

            <div class="h-full">
                <p class="text-yellow-600  font-bold p-3">
                    Promouvoir les innovations numériques
                    
                </p>
                <p class=" p-3"> 
                    L'objectif de La 17 éme édition est de promouvoir les innovations numériques en RDC.
                </p>
            </div>
            
        </div>
        
        <div class="w-1/3 flex flex-col  items-center justify-center shadow-black shadow-lg rounded-lg">
            <img src="./Assets/nume.png" alt="" class="rounded-t-[0.5rem]  w-full ">
            <div class="max-h-full">
                <p class="text-yellow-600  font-bold p-3">
                    Vulgariser l'utilisation des outils numériques                
                </p>
                <p class=" px-3"> 
                    Les journées informatiques visent également à vulgariser l'utilisation des outils numériques dans tous les secteurs de la vie de l'Etat.            </p>
            </div>
            
           
        </div>
        <!-- <div class="w-1/4 flex flex-col  items-center justify-center shadow-black shadow-lg rounded-lg">
            <img src="./Assets/promotion.png" alt="" class="rounded-t-[0.5rem]  w-full h-1/2">
            <p class="text-yellow-600  font-bold p-3">
                Promouvoir les innovations numériques
                
            </p>
            <p class=" px-3"> 
                L'objectif de La 17 éme édition est de promouvoir les innovations numériques en RDC.
            </p>
        </div> -->
    </div>
    
</section>



<script>
    const menuToggle = document.getElementById('menu-toggle');
    const menu = document.getElementById('menu');

    menuToggle.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });
</script>


<script src="js/index.js"></script>
<%- include("./partials/foot.ejs")%>