<%- include("./partials/head.ejs", {title: "home"})%>
    

<div id="organizer" class="px-5 w-full pb-10 mb-10">
    <div class="">
        <div id="title" class="flex justify-center">
            <h1 class="text-[#393c92] font-['Arial'] text-[2rem] font-bold mb-[30px]">Equipe organisatrice</h1>
        </div>
        <div id="block-organizer" class="flex justify-between py-5 gap-6 ">
            <div id="organizer1" class="flex flex-col items-center gap-7 w-[20rem] h-[28rem]  bg-slate-300 shadow-2xl shadow-stone-700  rounded-lg  p-5">
                <div id="ImgPartener1" class=" w-full ">
                    <img src="./assets/Images/Coordon.jpg" class="w-full h-[20rem] border-5 border-none rounded-lg" alt="">  
                </div>
                <div>
                    <b class="text-amber-700 text-[1.3rem] font-['Arial']">Elisée MIKABA</b>
                    <p class="text-[1.3rem] font-['Arial']">Coordonateur</p>
                </div>
                
            </div>
            <div id="organizer1" class="flex flex-col items-center gap-7 w-[20rem] h-[28rem]  bg-slate-300 shadow-2xl shadow-stone-700 rounded-lg  p-5">
                <div id="ImgPartener1" class=" w-full ">
                    <img src="./assets/Images/viceCoordon.jpg" class="w-full h-[20rem] border-5 border-none rounded-lg" alt="">  
                </div>
                <div>
                    <b class="text-amber-700 text-[1.3rem] font-['Arial']">La vérité MUKOKO</b>
                    <p class="text-[1.3rem] font-['Arial']">Vice-coordonatrice</p>
                </div>
                
            </div>
            <div id="organizer1" class="flex flex-col items-center gap-7 w-[20rem] h-[28rem]  bg-slate-300 shadow-2xl shadow-stone-700 rounded-lg  p-5">
                <div id="ImgPartener1" class=" w-full ">
                    <img src="./assets/Images/DirCab.jpg" class="w-full h-[20rem] border-5 border-none rounded-lg" alt="">  
                </div>
                <div>
                    <b class="text-amber-700 text-[1.3rem] font-['Arial']">Sharon VUMUKA</b>
                    <p class="text-[1.3rem] font-['Arial']">Directeur de cabinet</p>
                </div>
                
            </div>
            <div id="organizer1" class="flex flex-col items-center gap-7 w-[20rem] h-[28rem] bg-slate-300 shadow-2xl shadow-stone-700 rounded-lg  p-5">
                <div id="ImgPartener1" class=" w-full ">
                    <img src="./assets/Images/sec.jpg" class="w-full h-[20rem] border-5 border-none rounded-lg" alt="">  
                </div>
                <div>
                    <b class="text-amber-700 text-[1.3rem] font-['Arial']">Dan KABUYA</b>
                    <p class="text-[1.3rem] font-['Arial']">Secrétaire</p>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div id="partener" class="px-5 w-full mb-10 flex flex-col">
    <div id="title" class="flex justify-center">
        <h1 class="text-[#393c92] font-['Arial'] text-[2rem] font-bold mb-10">Ils nous accompagnent</h1>
    </div>
    <div id="partenersGroup1" class="flex justify-evenly mb-5">
        <div id="partener1" class="w-[8rem] h-[8rem]">
            <img src="./assets/Logo/unikin.png" alt="">
        </div>
        <div id="partener1" class="w-[9rem] h-[9rem]">
            <img src="./assets/Logo/unilu.png" alt="">
        </div>
        <div id="partener1" class="w-[7rem] h-[7rem]">
            <img src="./assets/Logo/upc.png" alt="">
        </div>
        

    </div>
    <div id="partenersGroup2" class="flex justify-between px-10">
        <div id="partener1" class="w-[13rem] h-[13rem]">
            <img src="./assets/Logo/upn.png" alt="">
        </div>
        <div id="partener1" class="w-[13rem] h-[13rem] pt-7">
            <img src="./assets/Logo/ista.png" class="" alt="">
        </div>
        <div id="partener1" class="w-[7rem] h-[3rem] pt-7">
            <img src="./assets/Logo/isipa.png" alt="">
        </div>
        <div id="partener1" class="w-[9rem] h-[9rem] pt-7">
            <img src="./assets/Logo/isc.png" alt="">
        </div>

    </div>
    <div id="partenersGroup3" class="flex justify-evenly">
        <div id="partener1" class="w-[9rem] h-[9rem] pt-8">
            <img src="./assets/Logo/upgi.png" alt="">
        </div>
        <div id="partener1" class="w-[12rem] h-[12rem]">
            <img src="./assets/Logo/belcampus.png" alt="">
        </div>
        <div id="partener1" class="w-[15rem] h-[5rem] pt-8">
            <img src="./assets/Logo/TV5.png"  alt="">
        </div>
    </div>
</div>

<footer class="bg-[#000244] pb-[1rem] md:bg-white flex flex-col">
    <div class="flex justify-between pr-[5rem]">
        <div id="section-logo" class="">
            <img src="./assets/Logo/logoJInfo.png" alt="">
        </div>
        <div id="section-edition" class="mt-[15px]">
            <p class="text-violet-400 font-['Arial'] text-[2rem] pb-5">Editions</p>
            <div id="block-edition" class="flex gap-3 ">
                <a href="https://www.unikin.ac.cd/index.php/14eme-edition-de-la-grande-pleniere-des-journees-informatiques/" class="text-violet-400 text-[1rem]">16e édition</a>
            </div>
        </div>
        <div id="section-siteweb" class="mt-[15px]">
            <p class="text-violet-400 font-['Arial'] text-[2rem] pb-5">Sites Web</p>
            <div id="phone" class="flex gap-3 ">
                <svg class= "text-violet-400" xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M16.36 14c.08-.66.14-1.32.14-2s-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2m-5.15 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56M14.34 14H9.66c-.1-.66-.16-1.32-.16-2s.06-1.35.16-2h4.68c.09.65.16 1.32.16 2s-.07 1.34-.16 2M12 19.96c-.83-1.2-1.5-2.53-1.91-3.96h3.82c-.41 1.43-1.08 2.76-1.91 3.96M8 8H5.08A7.92 7.92 0 0 1 9.4 4.44C8.8 5.55 8.35 6.75 8 8m-2.92 8H8c.35 1.25.8 2.45 1.4 3.56A8 8 0 0 1 5.08 16m-.82-2C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2s.06 1.34.14 2M12 4.03c.83 1.2 1.5 2.54 1.91 3.97h-3.82c.41-1.43 1.08-2.77 1.91-3.97M18.92 8h-2.95a15.7 15.7 0 0 0-1.38-3.56c1.84.63 3.37 1.9 4.33 3.56M12 2C6.47 2 2 6.5 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2"/></svg>
                <a href="https://fmi-unikin-new-site-web.vercel.app/" class="text-violet-400 text-[1rem]">www.journeesinformatiques.com</a>
            </div>
        </div>
        <div id="section-contact" class="mt-[15px]">
            <p class="text-violet-400 font-['Arial'] text-[2rem] pb-5">Contacts</p>
            <div id="block-contact" class="flex flex-col gap-3">
                <div id="phone" class="flex gap-3 ">
                    <svg class= "text-violet-400 " xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="currentColor" d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"/></svg>
                    <a href="tel:+243842080277" class="text-violet-400 text-[1rem]">+2438 4208 0277</a>
                </div>
                <div id="mail" class="flex gap-3 ">
                    <svg class= "text-violet-400"xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="currentColor" d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7l8-5V6l-8 5l-8-5v2z"/></svg>
                    <a href="mailto:journeesinformatiques.ca@gmail.com" class="text-violet-400 text-[1rem]">Journées informatiques</a>
                </div>
                <div id="wa" class="flex gap-3 ">
                    <svg class= "text-violet-400 "xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="currentColor" d="M12.001 2c5.523 0 10 4.477 10 10s-4.477 10-10 10a9.95 9.95 0 0 1-5.03-1.355L2.005 22l1.352-4.968A9.95 9.95 0 0 1 2.001 12c0-5.523 4.477-10 10-10M8.593 7.3l-.2.008a1 1 0 0 0-.372.1a1.3 1.3 0 0 0-.294.228c-.12.113-.188.211-.261.306A2.73 2.73 0 0 0 6.9 9.62c.002.49.13.967.33 1.413c.409.902 1.082 1.857 1.97 2.742c.214.213.424.427.65.626a9.45 9.45 0 0 0 3.84 2.046l.568.087c.185.01.37-.004.556-.013a2 2 0 0 0 .833-.231a5 5 0 0 0 .383-.22q.001.002.125-.09c.135-.1.218-.171.33-.288q.126-.13.21-.302c.078-.163.156-.474.188-.733c.024-.198.017-.306.014-.373c-.004-.107-.093-.218-.19-.265l-.582-.261s-.87-.379-1.402-.621a.5.5 0 0 0-.176-.041a.48.48 0 0 0-.378.127c-.005-.002-.072.055-.795.931a.35.35 0 0 1-.368.13a1.4 1.4 0 0 1-.191-.066c-.124-.052-.167-.072-.252-.108a6 6 0 0 1-1.575-1.003c-.126-.11-.243-.23-.363-.346a6.3 6.3 0 0 1-1.02-1.268l-.059-.095a1 1 0 0 1-.102-.205c-.038-.147.061-.265.061-.265s.243-.266.356-.41c.11-.14.203-.276.263-.373c.118-.19.155-.385.093-.536q-.42-1.026-.868-2.041c-.059-.134-.234-.23-.393-.249q-.081-.01-.162-.016a3 3 0 0 0-.403.004z"/></svg>
                    <a href="https://api.whatsapp.com/send?phone=243842080277" class= "text-violet-400 text-[1rem]">Journées informatiques</a>
                </div>
            </div>
        </div>
        <div id="arrowTop" class="flex gap-3">
            <svg class ="cursor-pointer text-violet-400 border-solid border-[8px] rounded-[50%] border-white mt-20"xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 36 36"><path fill="currentColor" d="M18 2a16 16 0 1 0 16 16A16 16 0 0 0 18 2m8 15.57a1.43 1.43 0 0 1-2 0L19.4 13v14.14a1.4 1.4 0 0 1-2.8 0v-14l-4.43 4.43a1.4 1.4 0 0 1-2-2l7.91-7.87L26 15.59a1.4 1.4 0 0 1 0 1.98" class="clr-i-solid clr-i-solid-path-1"/><path fill="none" d="M0 0h36v36H0z"/></svg>
            
        </div>
    </div>
    <div class="mt-5 w-full px-[5rem]">
        <p class="text-white text-[1rem] border-t-[1px] border-white text-center pt-5">Tous droits reservés</p>
    </div>
</footer>
<%- include("./partials/foot.ejs")%>